ul{
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  overflow: hidden;
  background-color: aqua;
  a{
    color: rgba(87, 85, 85, 0.77);
  }

  li{
    float: left;
  }


  li:not(:first-child){
    margin-left: 10px;
  }
}
